<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westlake.materialyelp">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="29" />

    <application
        android:name=".MaterialYelpApp"
        android:label="Westlake Material Yelp"
        android:theme="@style/MaterialYelpTheme"
        android:allowBackup="false">
        <activity
            android:name=".MaterialYelpActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
