<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westlake.cutoffcanary">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="29" />
    <application
        android:name=".CanaryApp"
        android:appComponentFactory=".CanaryAppComponentFactory"
        android:label="@string/app_name">
        <activity
            android:name=".StageActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".L3Activity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".L4Activity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>
</manifest>
